body{
    background-color: hotpink;

    height: 100vh;
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div{
    width: 400px;
    height:300px;
    background-color: #ff63e1;
    text-align: center;
}


a{
    text-decoration: none;
    color: gold;
    background: #ff4d6d;
    padding: 10px 20px;
    border-radius: 20px;
    margin-right: 20px;
}

